.body{
    background-color: lightblue;
}

.heading{
    color:darkcyan;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: center;
    text-decoration: 3px underline darkorange;
    background-color: lightskyblue;
    padding: 30px;
    border-top: 6px solid darkcyan;
    border-bottom: 6px solid darkcyan;
}

p{
    font-size: 18px;
}

h2{
    font-size: 40px;
    color: peru;
    font-style: italic;
    text-decoration: underline darkgreen;
}

.foot{
    border-top: 5px solid darkcyan;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid darkcyan;
}

.main{
    width: 1000px;
    margin: 0 auto;
}

a:link{
    color: black;
}