.body{
    background-color: lavender;
}


.heading{
    color:darkcyan;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
    text-align: center;
    text-decoration: 3px underline rgb(253, 73, 73);
    background-color: gainsboro;
    padding: 40px;
    border-top: 6px solid darkcyan;
    border-bottom: 3px solid darkcyan;
    margin-top: 0px;
    margin-bottom: 0px;
}

p, li{
    font-size: 18px;
}

h2{
    font-size: 60px;
    color: peru;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    text-decoration: 2px underline rgb(253, 73, 73);
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.foot{
    border-top: 2.5px solid darkcyan;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    border-bottom: 5px solid darkcyan;
    clear: both;
}

.main{
    background-color: lightcyan; 
    margin : 15px;
    border: 3px solid darkcyan;
    padding-left: 20px ;
    padding-right: 10px;
    float: left;
}

.image{
    margin-left: 350px;
    width: 700px;
    border: 2.5px solid black;
}

h3{
    font-size: 30px;
    color: peru;
    text-decoration: underline lightseagreen;
    margin: 5px;
}

.image_1{
    width: 1000px;
    margin-left: 200px;
    margin-bottom: 50px;
    border: 2px solid black;
}
.image_2{
    width: 600px;
    margin-left: 75px;
    margin-bottom: 50px;
    border: 2px solid black;
}
.image_3{
    width: 600px;
    margin-left: 75px;
    margin-bottom: 50px;
    border: 2px solid black;
}
.image_4{
    width: 600px;
    margin-left: 75px;
    margin-bottom: 50px;
    border: 2px solid black;
}
.image_5{
    width: 550px;
    height: 395px;
    margin-left: 75px;
    margin-bottom: 50px;
    border: 2px solid black;
}

.npage{
    float: right;
    font-size: 20px;
    clear: both;
    margin: 15px;
    border: 2px solid black;
    padding: 10px;
}

.ppage{
    float: left;
    font-size: 20px;
    margin: 15px;
    border: 2px solid black;
    padding: 10px;
}

